/* nav>a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    padding: 10px;
}
#buton:hover{
    color: #EE5B55;
}

#img{
    display: flex;
    flex-direction: column;   
    background-size: cover;
    background-position: center center;
    height: 500px;
}


*\