@media screen and (max-width: 550px){
    video{
        width: 1100px;
    }

    /* Header */
    #menu{
        position: absolute;
        display: block;
        top: 20px;
        left: 30px;
        pointer-events: all;
        cursor: pointer;
    }

    #itens{
        display: none;
    }
    
    #itens nav{
        margin-top: 30px;
    }
    
    .a-header{
        margin: 0 10px;
        padding: 5px;
        border-radius: 5px;
        font-size: 13px;
    }

    /* Perfil */

    .perfil-txt h1{
        width: 350px;
        font-size: 31px;
    }

    .perfil-txt h2{
        font-size: 20px;
        padding: 10px;
    }

    .perfil-txt button{
        margin: 20px 0 10px 0;
        font-size: 13px;
    }

    #sobremim{
        width: 350px;
        font-size: 16px;
    }

    /* Projetos */

    #projetos-todo{
        width: 350px;
        margin: 50px auto;
    }

    .img-buttons{
        display: flex;
        justify-content: center;
    }

    .imgproj{
        width: 200px;
    }

    #ant, #prox{
        height: 50px;
        margin-top: 70px;
        padding: 10px;
    }

    #click{
        width: 320px;
    }

    #titulo-proj{
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }

    #conteudo-proj{
        width: 300px;
        margin: 20px auto;
        font-size: 16px;
    }

    /* Hard Skill */

    #hardskill-todo{
        width: 350px;
        margin: 50px auto;
    }

    .skills{
        text-align: center;
    }

    .skills h3, 
    .div-social h3{
        margin: 10px 0 20px 0;
        font-size: 20px;
    }

    .imgs-skill, .sociais{
        padding: 10px;
        width: 90px;
    }
    
    .imgs-skill:hover,
    .sociais:hover{
        width: 90px;
    }

    .sales{
        width: 120px;
    }
    
    .sales:hover{
        width: 120px;
    }
    
    /* Redes Sociais */

    #Redes{
        width: 300px;
        margin-bottom: 50px;
    }

    .div-social{
        text-align: center;
    }

    /* divs para arruma o a do header */

    #Projetos{
        transform: translateY(120px);
    }

    #HardSkill{
        transform: translateY(20px);
    }
}

@media screen and (min-width: 551px) and (max-width: 1000px){
    video{
        width: 1100px;
    }

    /* Header */
    
    #itens nav{
        margin-top: 30px;
    }
    
    .a-header{
        margin: 0 20px;
        border-radius: 10px;
        font-size: 16px;
    }

    /* Perfil */

    .perfil-txt h1{
        width: 80%;
        font-size: 7vw;
    }

    .perfil-txt h2{
        font-size: 20px;
        padding: 15px;
    }

    .perfil-txt button{
        margin: 30px 0 30px 0;
        font-size: 17px;
    }

    #sobremim{
        width: 80%;
        font-size: 17px;
    }

    /* Projetos */

    #projetos-todo{
        width: 80%;
        margin: 50px auto;
    }

    .img-buttons{
        display: flex;
        justify-content: center;
    }

    .imgproj{
        width: 300px;
        margin-left: 15px;
    }
    
    #ant, #prox{
        height: 60px;
        padding: 15px;
        margin-top: 85px;
    }

    #titulo-proj{
        margin-top: 20px;
        font-size: 1.5em;
    }

    #conteudo-proj{
        width: 80%;
        margin: 20px auto;
        font-size: 17px;
    }

    /* Hard Skill */

    #hardskill-todo{
        width: 80%;
        margin: 50px auto;
    }

    .skills{
        text-align: center;
    }

    .skills h3, 
    .div-social h3{
        margin: 20px 0 20px 0;
    }

    .imgs-skill, .sociais{
        padding: 5px;
        width: 90px;
    }
    
    .imgs-skill:hover,
    .sociais:hover{
        width: 90px;
    }

    .sales{
        width: 130px;
    }
    
    .sales:hover{
        width: 130px;
    }
    
    /* Redes Sociais */

    #Redes{
        width: 80%;
        margin-bottom: 50px;
    }

    .div-social{
        text-align: center;
    }

    /* divs para arruma o a do header */

    #Projetos{
        transform: translateY(-20px);
    }

    #HardSkill{
        transform: translateY(00px);
    }    
}